.App {
    .App-header {
        background-color: #282c34;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;

        .title {
            font-size: 20px;
        }

        * {
            margin: 0 10px;
        }
    }

    .App-link {
        color: #61dafb;
    }

    .Files-content {
        display: flex;
        flex-direction: row;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    input {
        width: 300px;
    }

    .App-content {
        padding: 16px;
        margin: 0;
    }

    .ui.button {
        margin: 2px;
    }

    .ui.input {
        margin: 2px;
    }
}
