.Main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        display: inline-block;

        a {
            color: #F60;
            text-decoration: none;
        }
    }

    li.active {
        a {
            color: #F96;
        }
    }
}
